<div class="category-contant">
    <ul>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">donut_large</mat-icon>
            <a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">headset</mat-icon>
            <a [routerLink]="['/home/products/Headphones']">Headphones</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">laptop</mat-icon>
            <a [routerLink]="['/home/products/Laptops']">Laptops</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;"> phonelink_ring</mat-icon>
            <a [routerLink]="['/home/products/Smartphones']">Smart Phones</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">camera_alt</mat-icon>
            <a [routerLink]="['/home/products/Cameras']">Cameras</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">tv</mat-icon>
            <a [routerLink]="['/home/products/Tv & Audio']">Tv & Audio</a></span></li>
        <li><span style="display: inline-flex;"><mat-icon style="padding-top: 10px; padding-left: 5px;">watch</mat-icon>
            <a [routerLink]="['/home/products/Watches']">Watches</a></span></li>
    </ul>
</div>