<mat-sidenav-container fullscreen>
   <mat-sidenav [opened]="false" mode="over"  #start  class="sidenav">
        <button mat-icon-button  class="close" (click)="start.close()">
          <mat-icon class="color-icon">menu</mat-icon>
        </button>
        <div class="divider"></div>
        <div class="sidebar-items" fxLayout="column" >
            <app-sidebar *ngFor="let item of navItems" [item]="item"></app-sidebar>
        </div>
    </mat-sidenav>
    <mat-toolbar  class="main-topbar lock-bar" [ngClass]="{topbar_four: modeAffichage == 4 }">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"  class="top-bar container" >
                <span fxHide="false" fxHide.gt-sm>
                    <button mat-icon-button (click)="start.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </span>
                <span fxHide fxShow.gt-sm>
                      <button mat-icon-button (click)="goTop()">
                          <mat-icon class="color-icon">keyboard_capslock</mat-icon>
                      </button>
                </span>
                 <div fxHide fxShow.gt-sm style="margin: auto;" class="info-message-icon" fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="space-between center">
                  <div class="icon" fxLayout="row" >

                      <mat-icon class="mat-icon-lg mat-icon material-icons color-icon" >call</mat-icon>
                  </div>
                    <div class="info-text">
                      <h1 style="color: azure;">VOUS VOULEZ PASSER UNE COMMANDE ? : 0770000000</h1>
                    </div>
                </div>
                 <div style="margin: auto;" fxHide.gt-sm  class="info-message-icon" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
                  <div class="icon" fxLayout="row" >
                      <mat-icon class="mat-icon-lg mat-icon material-icons color-icon">call</mat-icon>
                  </div>
                    <div class="info-text">
                      <p style="color: azure; font-size: 10px;">VOUS VOULEZ PASSER UNE COMMANDE ? : 0770000000</p>
                    </div>
                </div>

        </mat-toolbar-row>
      </mat-toolbar>


 <div class="fb-customerchat"
      page_id="108501007521582"
      logged_in_greeting="Bienvenue, comment pourrions-nous vous aider ? ">
</div>

  <div style="padding-top: 55px;">

  <app-header  *ngIf="(modeAffichage==1 || modeAffichage==3) || (modeAffichage != 2  && modeAffichage != 4) &&  (router.url.includes('pages') || router.url.includes('products') || router.url.includes('blog') || router.url.includes('product'))"></app-header>
  <app-header-two *ngIf="modeAffichage == 2"></app-header-two>
  <app-header-three *ngIf="modeAffichage == 4"></app-header-three>
  <app-header-four *ngIf="modeAffichage == 5"></app-header-four>

  <ngx-spinner></ngx-spinner>
  <router-outlet (deactivate)="goTop()"></router-outlet>

  <app-footer *ngIf="modeAffichage != 5"></app-footer>
  <app-footer-two *ngIf="modeAffichage == 5"></app-footer-two>
</div>
</mat-sidenav-container>


          <!-- <div fxLayout="row" class="welcome-message">
                <div class="widget-text">
                  <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
                    {{currency}}<mat-icon class="mat-icon-sm caret cur-icon">arrow_drop_down</mat-icon>
                  </a>
                  <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span>
                        <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                            <span>{{cur}}</span>
                        </button>
                    </span>
                </mat-menu>
                </div>
                <div class="widget-text">
                  <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
                    <img [src]="flag.image" width="18">
                    <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{flag.name}}</span>
                    <mat-icon class="mat-icon-sm caret cur-icon">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span>
                        <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                            <img [src]="flag.image" width="18"> {{flag.name}}
                        </button>
                    </span>
                </mat-menu>
                </div>
              </div> -->
              <!-- <div class="widgets-left" fxLayout="row">

                <div class="widget-text">
                  <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/wishlist']" routerLinkActive="router-link-active" ><mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon> WISHLIST</a>
                </div>
                <div class="widget-text">
                  <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/compare']" routerLinkActive="router-link-active" ><mat-icon>cached</mat-icon>COMPARE</a>
                </div>
                <div class="widget-text">
                    <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/my-account']" routerLinkActive="router-link-active" ><mat-icon>person</mat-icon>My Account</a>
                  </div>
              </div> -->

