<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget">
          <a class="logo" href="index.html">
          <img  class="logo-fine" src="assets//images/logo.png">
          </a>
          <p>Nous proposons au grand public (enfants, femmes et hommes) un large éventail de produits que nous élargissons progressivement pour inclure les dernières nouveautés, et tout un panel de marques accessibles à tous les budgets.</p>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>À PROPOS</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">Qui somme-nous ?</a></li>
                  <li><a href="#">Conditions Générales d'Utilisation</a></li>
                  <li><a href="#">Conditions Générales de Livraison</a></li>
                  <li><a href="#">Méthode de paiement</a></li>
                </ul>
            </div>
          </div>


        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Abonnez-vous à notre newsletter</h5>
          </div>
          <form action="#">
            <p>Restez à jour avec nos dernières nouveautés et produits</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button type="submit" class="ped-btn-footer">Souscrire</button>
            </div>
          </form>
        </div>


          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>CONTACTEZ-NOUS</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p>08, Rue Mohamed Hamlat -Hussein Dey- Alger</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>0553-42-63-02 / 0656-27-27-12</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="#">contact@smarketalgerie.com</a></p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-clock-o"></i></div>
              <div class="text">
                <p><a href="#">Samedi - Jeudi / 9:00 - 18:00</a></p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
              <div class="text">
                <p><a href="#">
                  Obtenir des directions</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>






      </div>
  </div>
</footer>
